

body {
    width: 1280px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 78px;
}

.menu-list {
    margin: 25px 0px 25px;   
}

.menu-item {
    display: inline-block;
    margin-left: 130px;   
}

.menu-link {
    color: #FF0000;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
}

.page-title {
    color: #373737;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 38px;
}

.text {
    width: 1145px;
    margin: 0 auto;
    text-align: center;
    color: #373737;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 66px;
}
 
.btn {
    width: 191px;
    height: 51px;
    background-color: red;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    
}

.info {
    color: #373737;
    width: 462px;
    height: 35px;
    margin: 82px 105px 29px 713px;   
}
  